* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

body {
    display: flex;
    width: 100%;
    padding: 7rem 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    gap: 5rem;
    box-sizing: border-box;
}


section {
    width: 100%;
    max-width: 1000px;
}

h2 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 1rem;
}





.window {
    width: 100%;
    box-shadow: 0.0rem 0.5rem 1.0rem rgba(0,0,0,.4);
    border-radius: 0.5rem;
    color: #f8f8f8;
}

.window-header {
    padding-left: 1rem;
    height: 2rem;
    background-color: rgb(140, 140, 140);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.window-circle{
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
}

.r {
    background-color: #ba7d7a;
}
.y {
    background-color: #b9a67b;
}
.g {
    background-color: #8eb895;
}


.window-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5ch;
    padding: 1rem;
    background-color: #1f1f1f;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.terminal-prompt {
    color: #8eb895;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Consolas','Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.terminal-result {
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    opacity: 0;
    font-family: 'Consolas','Courier New', Courier, monospace;
    font-size: 1.2rem;
}
.terminal-prompt::after {
    color: #f8f8f8;
}

/* ==================== */
/* HERO     =========== */
/* ==================== */
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    max-width: 800px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}
.hero-bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items:start;
}

.hero-img img {
    display: block;
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5rem solid rgb(140, 140, 140);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
}
.hero-img img:hover{
    cursor: pointer;
}

.hero-bio h1 {
    animation: fadeIn 1.5s ease-in-out;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    filter: grayscale(0.5);
}

.hero-bio h1 span {
    animation: wave 2.5s 1 1.5s;
    transform-origin: 70% 70%;
    display: inline-block;
}

.hero-bio p {
    font-size: 1.4rem;
    text-align: left;
}

.hero-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(140, 140, 140);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
}

.hero-links a {
    color: #181818;
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    border-radius: 0.5rem;
}

.hero-links a:hover {
    background-color: rgb(225, 225, 225);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
}

.hero-links span {
    font-size: 2.3rem;
}


/* ==================== */
/* SKILLS     ========= */
/* ==================== */

.skills-set {
    display: flex;
    flex-direction: column;
}

.skills-header {
    width: 100%;
}

.skills-header h3{
    font-weight: bold;
    font-size: 1em;
    color: #3fc5ff;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* ==================== */
/* PROJECTS =========== */
/* ==================== */





.projects .window-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    gap: 0;
}

.projects label {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    text-align: center;
    color: #808080;
    padding: 1rem;
    border-right: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
}
.projects label:hover{
    cursor: pointer;
    background-color: #1c1c1c;
}

.projects label:last-of-type {
    border-right: none;
}

.project {
    width: 100%;
    padding: 1rem;
    display: none;
    flex-direction: column;
    order: 2;
}

.project-input:checked + .project-label + .project {
    display: flex;
}

.project-input:checked + .project-label {
    background-color: #1f1f1f;
    color: #ffffff;
    border-bottom: none;

}





.projects .terminal-result h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #b9a67b;
}

.projects .terminal-result a {
    width: fit-content;
    margin-top: 1rem;
    background-color: #b9a67b;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}


.projects img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.projects input {
    display: none;
}






/* ==================== */
/* RESPONSIVE ========= */
/* ==================== */
@media (max-width: 900px) {
    .projects label {
        flex-direction: column;
    }
    .hero {
        flex-direction: column;
    }  
    .hero-text {
        align-items: center;
    }
    .hero-bio {
        align-items: center;
    }
    .hero-bio p {
        text-align: center;
    }
          
}
@media (max-width: 800px) {
    h2 {
        font-size: 1.7rem;
    }
    .terminal-prompt {
        font-size: 1rem;
    }
    .terminal-result {
        font-size: 1rem;
    }
    .skills-list {
        grid-template-columns: 1fr 1fr;
    }
    .hero-img img {
        width: 15rem;
        height: 15rem;
    }
    .hero-bio h1 {
        font-size: 1.9rem;
    }
    .hero-bio p {
        font-size: 1.2rem;
    }
    .hero-links span {
        font-size: 1.7rem;
    }
       
    

}
@media (max-width: 700px) {
    body {
        padding: 3rem 1rem;
    }
    .projects .window-body {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .project {
        order: 1;
    }
    .projects label {
        flex-direction: row;
    }
}
@media (max-width: 600px) {
    .hero-links {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .skills-list {
        grid-template-columns: 1fr;
    }  

}